body,nav{
    font-size: 1.2em;
    background: url(background.png)
}
hr{
    box-shadow: 0px 6px 6px black;
}
h1,h3{
    text-align: center;
}
ol{
    display: flex;
    justify-content: space-around;

}
a{
    text-decoration:none; color: maroon;
}
a:hover{
    text-decoration: underline; font-size: 1.3em
}
a:visited{
    color: maroon;
}


.bold{              /*------ligne  dev. back et front-end.........*/
    font-weight: 600;
    background-color: rgb(240, 240, 240);
}
/*.savoir{     /*------entete tableaux---------
    background-color: rgb(220, 220, 220);
}*/
.cel{           /*------1ére rangée de cellules de chaque tableau pour caler la taille des colonnes-----*/
    width: 2.5vw;
}

.cel3{      /*--------cellules compétences metier techno et humaines------------*/
    width: 35vw;
    text-align: center;
    
}
/* .cel4{
    text-align: left;
} */
/* .cel11{
    width: 2.5vw;
    background-color: rgb(255, 166, 0);
}
.cel12{
    width: 2.5vw;
    background-color: rgb(238, 255, 0);
}
.cel13{
    width: 2.5vw;
    background-color: rgb(157, 255, 0);
} */

caption{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.3em;
    text-align: center;
}

/* GESTION DES TABLEAUX */

table{
    border-collapse: collapse;
    width:100%;
}

td,th{
    border: 1px solid black;
    height:6vh;
}

table thead th{
    background-color: rgb(220, 220, 220);
}

table thead th:nth-child(1){
    width: 45vw;
}

table tbody th{
    background-color:#FFF;
    text-align: left;
}

table td{
    width: 2.5vw;
}

table.techno thead th:nth-child(1){
    width:20vw;
    text-align: center;
}
table.techno tbody tr th:nth-child(1){
    text-align: center;
}

/* COULEURS APPLIQUEES PAR DES CLASSES */

.orange{
    background-color: rgb(255, 166, 0);
}

.jaune{
    background-color: rgb(238, 255, 0);
}

.vert{
    background-color: rgb(157, 255, 0);
}
.bouton{
	border:none;
	padding: 2vh 2vw 2vh 2vw;
	border-radius:2px;
	box-shadow:5px 5px 12px #999;
	background:#fff;
	font:bold 13px 'new times roman' ;
    color:#555;
    margin: 2vh 43vw 5vh 43vw;
    
}
.bouton:hover{
    text-decoration: underline; font-size: 1em
}

